.responsive {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alerts {
  max-width: 600px;
  width: 100%;
}
.alerts > div {
  margin-bottom: 1rem;
}
.container {
  max-width: 600px;
  width: 100%;
}
.container-1 {
  margin: 1rem 0;
  padding: 1rem;
  border: 3px solid grey;
}
.container__main-1 {
  margin-top: 1rem;
  border: 1px solid grey;
  padding: 1rem;
}
.columns {
  max-width: 600px;
  width: 100%;
}

@media only screen and (min-width: 481px) {
  /* case 4 */
  .container__case4-1-2-3 {
    width: 100%;
    display: grid;
    margin-bottom: 1rem;
    grid-template-columns: 50% 25% 25%;
  }
  .container__case4__left-1-2-3,
  .container__case4__center-1-2-3 {
    border-right: 3px solid rgb(17, 175, 233);
    padding: 1rem;
    background-color: rgb(198, 237, 251);
  }
  .container__case4__right-1-2-3 {
    padding: 1rem;
    background-color: rgb(198, 237, 251);
  }
  /* case 5 */
  .container__case5-1-2-3 {
    width: 100%;
    display: grid;
    margin-bottom: 1rem;
    grid-template-columns: 50% 25% 25%;
  }

  .container__case5__center-1-2-3 {
    border-right: 3px solid rgb(17, 175, 233);
    padding: 1rem;
    background-color: rgb(198, 237, 251);
  }
  .container__case5__right-1-2-3 {
    padding: 1rem;
    background-color: rgb(198, 237, 251);
  }
  /* case 6 */
  .container__case6-1-2-3 {
    width: 100%;
    display: grid;
    margin-bottom: 1rem;
    grid-template-columns: 25% 25% 25%;
  }

  .container__case6__center-1-2-3,
  .container__case6__left-1-2-3 {
    border-right: 3px solid rgb(17, 175, 233);
    padding: 1rem;
    background-color: rgb(198, 237, 251);
  }
  .container__case6__right-1-2-3 {
    padding: 1rem;
    background-color: rgb(198, 237, 251);
  }
  /* case 7 */
  .container__case7-1-2-3 {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    align-items: center;
  }
  .container__case7__center-1-2-3,
  .container__case7__left-1-2-3 {
    border-right: 3px solid rgb(17, 175, 233);
    padding: 1rem;
    background-color: rgb(198, 237, 251);
  }
  .container__case7__right-1-2-3 {
    padding: 1rem;
    background-color: rgb(198, 237, 251);
  }
  /* case 1 */
  .container__case4__right__right-1-2 {
    width: 100%;
  }
  .container__case4__left-1-2 {
    border-right: 3px solid rgb(17, 175, 233);
    padding: 1rem;
    background-color: rgb(198, 237, 251);
  }
  .container__12-1-2 {
    width: 100%;
    background-color: rgb(198, 237, 251);
    display: grid;
    margin-bottom: 1rem;
    grid-template-columns: 60% 40%;
  }
  .container__8__left-1-2 {
    border-right: 3px solid rgb(17, 175, 233);
    padding: 1rem;
    background-color: rgb(198, 237, 251);
  }
  .container__4__right-1-2 {
    padding: 1rem;
    background-color: rgb(198, 237, 251);
  }
  .container-1-2 {
    width: 100%;
    display: grid;
    margin-bottom: 1rem;
    grid-template-columns: 50% 50%;
  }
  .container__left-1-2 {
    border-right: 3px solid rgb(17, 175, 233);
    padding: 1rem;
    background-color: rgb(198, 237, 251);
  }
  .container__right-1-2 {
    padding: 1rem;
    background-color: rgb(198, 237, 251);
  }
  .container-1-2-3 {
    width: 100%;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .container__left-1-2-3,
  .container__center-1-2-3 {
    border-right: 3px solid rgb(17, 175, 233);
    padding: 1rem;
    background-color: rgb(198, 237, 251);
  }
  .container__right-1-2-3 {
    padding: 1rem;
    background-color: rgb(198, 237, 251);
  }
}
@media only screen and (max-width: 480px) {
    /* case 4 */
  .container__case4-1-2-3 {
    width: 100%;
    display: grid;
    margin-bottom: 1rem;
    grid-template-columns: 100%;
  }
  .container__case4-1-2-3 > div {
    padding: 1rem;
    background-color: rgb(198, 237, 251);
    border-bottom: 3px solid rgb(17, 175, 233);
  }
  /* case 5 */
  .container__case5-1-2-3 {
    width: 100%;
    display: grid;
    margin-bottom: 1rem;
    grid-template-columns: 100%;
  }
  .container__case5__center-1-2-3,
  .container__case5__right-1-2-3 {
    padding: 1rem;
    background-color: rgb(198, 237, 251);
    border-bottom: 3px solid rgb(17, 175, 233);
  }
  /* case 6 */
  .container__case6-1-2-3 {
    width: 100%;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 100%;
  }
  .container__case6-1-2-3 > div {
    padding: 1rem;
    background-color: rgb(198, 237, 251);
    border-bottom: 3px solid rgb(17, 175, 233);
  }
  /* case 7 */
  .container__case7-1-2-3 {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
  }
  .container__case7-1-2-3 > div {
    padding: 1rem;
    background-color: rgb(198, 237, 251);
    border-bottom: 3px solid rgb(17, 175, 233);
  }
  .container__12-1-2 {
    width: 100%;
    display: grid;
    margin-bottom: 1rem;
    grid-template-columns: 100%;
  }
  .container__12-1-2 > div {
    padding: 1rem;
    background-color: rgb(198, 237, 251);
    border-bottom: 3px solid rgb(17, 175, 233);
  }
  .container-1-2 {
    width: 100%;
    display: grid;
    margin-bottom: 1rem;
    grid-template-columns: 100%;
  }
  .container-1-2 > div {
    padding: 1rem;
    background-color: rgb(198, 237, 251);
    border-bottom: 3px solid rgb(17, 175, 233);
  }
  .container-1-2-3 {
    width: 100%;
    display: grid;
    margin-bottom: 1rem;
    grid-template-columns: 100%;
  }
  .container-1-2-3 > div {
    padding: 1rem;
    background-color: rgb(198, 237, 251);
    border-bottom: 3px solid rgb(17, 175, 233);
  }
}
